{% include "social-media-links.html" %}

{% if page.url == "/" %}
  {% include "areas-we-cover.html" %}
{% endif %}

<p>© 2025 Renegade Electrical</p>

<p>
  Registered Company Number:
  <a href="https://find-and-update.company-information.service.gov.uk/company/11368812">11368812</a>
</p>

<p>
  Email:
  <a href="mailto:renegadeelectrical99@gmail.com">
    renegadeelectrical99@gmail.com
  </a>
</p>

<p>
  Phone:
  <a href="tel:07868643147">
    07868 643 147
  </a>
</p>

<p>
  Location: Manchester, North West England
</p>

{% if page.url == "/" %}
  <p>
    <a rel="nofollow" href="https://chobble.com">website by chobble.com</a>
  </p>
{% endif %}