      <div class="customer-reviews__cta">
        <a
          href="https://www.checkatrade.com/trades/renegadeelectrical/"
          target="_blank"
          class="btn primary-btn"
        >
          View on Checkatrade
        </a>
        <a
          href="https://maps.app.goo.gl/8j3vvkz4uCafyRPN7"
          target="_blank"
          class="btn secondary-btn"
        >
          Review Us on Google
        </a>
        <a
          href="https://www.facebook.com/RenSolarManchester"
          target="_blank"
          class="btn secondary-btn"
        >
          Review Us on Facebook
        </a>
        <a
          href="https://www.trustpilot.com/review/renegade-solar.co.uk"
          target="_blank"
          class="btn secondary-btn"
        >
          Review Us on Trustpilot
        </a>
      </div>
