<ul class="reviews-grid masonry">
  {% for review in reviews %}
  <li>
    <div class="review-header">
      <span class="rating">
        {{ review.rating.rating | round: 1 }}
        <span aria-hidden="true">★</span>
      </span>
      <span class="date">{{ review.createdAt | date: "%b %Y" }}</span>
    </div>
    <h3 class="review-title">{{ review.title }}</h3>
    <div class="review">
      <p>{{ review.review }}</p>
    </div>
    {% if review.location.postcode and review.location.postcode != "" or review.source and review.source != "checkatrade" %}
    <p class="review-meta">
      {% if review.location.postcode and review.location.postcode != "" %}
        {{ review.location.postcode }}
      {% endif %}
      {% if review.source and review.source != "checkatrade" %}
        <span class="review-source">via {{ review.source | capitalize }}</span>
      {% endif %}
    </p>
    {% endif %}
  </li>
  {% endfor %}
</ul>
