<div class="customer-reviews__grid">
  {% for review in reviews %}
  <div class="customer-reviews__card">
    <div class="customer-reviews__card-header">
      <h3>{{ review.title }}</h3>
      <div class="rating">
        {{ review.rating.rating | round: 1 }}
        <span>★</span>
      </div>
    </div>
    <div class="customer-reviews__card-body">
      <p>{{ review.review }}</p>
    </div>
    <div class="customer-reviews__card-footer">
      <p>
        {% if review.location.postcode and review.location.postcode != "" %}
          {{ review.location.postcode }} -
        {% endif %}
        {{ review.createdAt | date: "%b %Y" }}
        {% if review.source and review.source != "checkatrade" %}
          <span class="customer-reviews__source-label"> via {{ review.source | capitalize }}</span>
        {% endif %}
      </p>
    </div>
  </div>
  {% endfor %}
</div>