<div class="services-list">
  {% assign sorted_services = collections.service | sort: 'data.order' %}
  {% for service in sorted_services %}
  {% if service.data.root %}
  <a href="{{ service.url }}">
    {% if service.data.icon %}
    <img src="/assets/icons/{{ service.data.icon }}" alt="" eleventy:ignore>
    {% endif %}
    <span>
      {{ service.data.title }}
      {% if show_snippet and service.data.snippet %}
      <small>{{ service.data.snippet }}</small>
      {% endif %}
    </span>
  </a>
  {% endif %}
  {%- endfor -%}
</div>
