<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} | Renegade Solar</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="canonical" href="https://renegade-solar.co.uk{{ page.url }}">
  {%- if description -%}
  <meta name="description" content="{{ description }}">
  {%- endif -%}
  {%- if noindex -%}
  <meta name="robots" value="noindex, nofollow">
  {%- endif %}
  <script data-goatcounter="https://analytics.renegade-solar.co.uk/count"
        async src="//analytics.renegade-solar.co.uk/count.js"></script>
</head>

<body>
  <header>
    <div class="container">
      <a href="/" class="logo">
        <img src="/assets/renegade-solar-logo.png" alt="Renegade Solar Logo">
      </a>
      {% include "navbar.html" %}
    </div>
  </header>

  {{ content }}

  <footer>
    <div class="container">
      {% include "footer.html" %}
    </div>
  </footer>
</body>

</html>
