---
layout: base.html
---

<div class="hero">
  <img
    eleventy:widths="1200,900,600,400,200"
    src="/assets/photos/panels.jpg"
    alt="Solar panels on a roof in Manchester"
  />
  <h1>Solar panel installations in Manchester</h1>
</div>

<article>
  <div class="card">
    <div class="services-heading">
      <h2>Services We Offer</h2>
    </div>
    {% include "services-list.html" %}
  </div>

  {% include "accreditations.html" %}

  <div class="card">
    {{ content }}
    <p>
      <a class="btn primary-btn" href="/contact/">
        Contact Renegade Solar
      </a>
    </p>  
  </div>

  <div class="row">
    <div class="highlight">
      <h3>Top Rated</h3>
      <p>
        {{ reviews.averageRating | round: 2 }}/10 on
        <a href="/reviews/">Checkatrade</a>!
      </p>
    </div>
    <div class="highlight">
      <h3>Experience</h3>
      <p>
        15+ years experience as an Electrician - Residential &amp; Commercial
      </p>
    </div>
    <div class="highlight">
      <h3>Personalised Solutions</h3>
      <p>
        Every home and business is unique, and so are the solar solutions we
        provide.
      </p>
    </div>
  </div>

  {% include "homepage-reviews.html" %} {% include "contact-form.html" %}
</article>
