---
layout: base.html
---

<article>
  <div class="card content">{{ content }}</div>

  <div class="card">
    <div class="services-heading">
      <h2>Services We Offer in {{ link_title }}</h2>
    </div>
    <div class="services-list">
      {% assign location_collection = collections[page.fileSlug] %}
      {% assign sorted_services = location_collection | sort: 'data.order' %}
      {% assign location_service_titles = "" %}
      {% for service in sorted_services %}
      {% assign location_service_titles = location_service_titles | append: service.data.link_title | append: "," %}
      <a href="{{ service.url }}">
        {% if service.data.icon != "" %}
          <img src="/assets/icons/{{ service.data.icon }}" alt="" eleventy:ignore />
        {% endif %}
        <span> {{ service.data.link_title }} </span>
      </a>
      {%- endfor -%}

      {% assign general_services = collections.service | where: 'data.location_pages', false %}
      {% assign sorted_general_services = general_services | sort: 'data.order' %}
      {% for service in sorted_general_services %}
      {% unless location_service_titles contains service.data.title %}
      <a href="{{ service.url }}">
        {% if service.data.icon %}
          <img src="/assets/icons/{{ service.data.icon }}" alt="" eleventy:ignore />
        {% endif %}
        <span> {{ service.data.title }} </span>
      </a>
      {% endunless %}
      {%- endfor -%}
    </div>
  </div>

  {% include "accreditations.html" %} {% include "contact-form.html" %}
</article>
