---
layout: base.html
---

<article>
  <div class="card">
    <div class="page-header">
      <h1>{{ title }}</h1>
    </div>
    {{ content }}
  </div>

  <section class="customer-reviews">
    <div class="container">
      <div class="customer-reviews__header">
        <h2>Customer reviews</h2>
        <p>
          {{ reviews.total }} reviews across Checkatrade, Google, Facebook and
          Trustpilot, averaging {{ reviews.averageRating | round: 2 }}/10
        </p>
      </div>

      {%- include "review-site-links.html" -%}

      <hr />

      {% render "review-list.html", reviews: reviews.reviews %}

      {%- include "review-site-links.html" -%}
    </div>
  </section>
</article>
