@import "_navbar";

@font-face {
  font-family: "Abel";
  font-style: normal;
  font-weight: normal;
  src:
    url("/assets/font/abel-latin-400-normal.woff2") format("woff2"),
    url("/assets/font/abel-latin-400-normal.woff") format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}
:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

$page-width: 1200px;
$mobile-width: 768px;
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #f5f5f5;
  font-size: 1.2rem;
  font-family: var(--system-ui);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 2rem;
  line-height: 2;

  @media (max-width: $mobile-width) {
    padding-top: 60px;
    gap: 1rem;
  }
}
h1,
h2,
h3,
h4 {
  color: #2e7531;
  line-height: 1.4;
  font-family: "Abel", var(--system-ui);
}
nav {
  font-family: "Abel", var(--system-ui);
}
a {
  color: #2e7531;
}
.margin-top {
  margin-top: 1rem;
}
hr {
  color: #388e3c;
  opacity: 0.2;
  height: 1px;
  margin: 2rem 0;
}
blockquote {
  font-style: italic;
}
.container {
  max-width: $page-width;
  margin: 0 auto;

  @media (max-width: $page-width) {
    & > .row {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  @media (max-width: $mobile-width) {
    & > .row {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}
header {
  padding: 0 1rem;
  background: #1a1a1a;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    display: flex;
    img {
      height: 40px;
      width: auto;
    }
  }
  nav {
    background: #1a1a1a;
    padding: 1rem;
    position: relative;
  }
  .nav-links {
    background: #1a1a1a;
    font-size: larger;
    a {
      color: white;
      &:hover {
        color: yellow;
      }
      &.active {
        color: #4caf50;
      }
    }
  }

  @media (max-width: $mobile-width) {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: #1a1a1a;
    padding: 5px;
    .logo {
      padding: 0.5rem 1rem;
      img {
        height: 30px;
      }
    }
  }
}
article {
  width: $page-width;
  max-width: 100%;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (max-width: $mobile-width) {
    gap: 1rem;
    padding: 0 1rem;
  }

  @media (max-width: $page-width) {
    padding: 0 0.5rem;
  }
  a {
    transition: color 0.3s ease;
    &:hover {
      color: black;
    }
  }
}
.hero {
  color: white;
  text-align: center;
  width: 100%;
  max-width: $page-width;
  margin: 0 auto;
  position: relative;
  margin-top: -2rem;
  img {
    display: block;
    width: 100%;
    aspect-ratio: 4624/2084;
    height: auto;
  }
  h1 {
    background: rgba(0, 0, 0, 0.6);
    color: #4bcc54;
    padding: 1rem;
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 0;
    right: 0;

    @media (max-width: 900px) {
      font-size: 20px;
    }
  }
}
.accreditations-container {
  overflow: hidden;
  .scroll {
    display: flex;
    gap: 1rem;
    padding: 2px 0 4px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
    align-items: center;
    &::-webkit-scrollbar {
      display: none;
    }
    .item {
      flex: 0 0 auto;
      padding: 0.5rem;
      background: white;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s ease;
      width: 20%;
      &:hover {
        transform: translateY(-2px);
      }
      img {
        height: 80px;
        width: 100%;
        object-fit: contain;
      }

      @media (min-width: $mobile-width) {
        width: calc((100% - 5rem) / 6);
        padding: 1rem;
      }

      @media (min-width: $page-width) {
        padding: 1rem 2rem;
        img {
          height: 150px;
        }
      }
    }
  }
}
.card {
  background: #f9f9f9;
  min-width: 50%;
  flex: 1;
  min-width: 250px;
  padding: 0.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  @media (min-width: $mobile-width) {
    padding: 1rem;
  }

  @media (min-width: $page-width) {
    padding: 1.5rem;
  }
}
.row {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  &.v-padding {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  @media (max-width: 796px) {
    gap: 1rem;
  }
}
.highlight {
  background: white;
  flex: 1;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  h3 {
    margin-bottom: 1rem;
  }

  @media (max-width: $mobile-width) {
    min-width: 100%;
  }
}
.accreditation-logo-card {
  margin-top: 1rem;
}
.accreditation-logo {
  display: block;
  margin: 0 auto;
  max-width: 40%;
}
.services-list {
  list-style-type: square;
  padding-left: 30px;
  li {
    position: relative;
    &:has(img) {
      list-style-type: none;
      img {
        position: absolute;
        left: -25px;
        top: 2px;
        width: 20px;
      }
    }
  }
}
.accreditation-url {
  text-align: center;
  font-weight: bold;
}
footer {
  background: #1a1a1a;
  color: white;
  text-align: center;
  padding: 2rem;
  a {
    color: #22a02a;
  }
  .social-links {
    list-style-type: none;
    padding: 1rem 0;
    li {
      display: inline-block;
      img {
        filter: invert(100%);
        &:hover {
          transform: scale(120%);
        }
      }
    }
  }
}
.contact-form-form {
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  label,
  input,
  textarea {
    display: block;
    width: 100%;
    margin: 0 0 1rem 0;
  }
  label {
    color: #2e7531;
    font-family: "Abel", var(--system-ui);
    &.url {
      display: none;
    }
  }
  input,
  textarea,
  button {
    padding: 0.3rem 0.5rem;
    font-family: "Abel", var(--system-ui);
    border-radius: 3px;
    border: 1px solid #cccccc;
    font-size: 1.2rem;
  }
  textarea {
    height: 6rem;
  }
  button {
    color: white;
    font-size: 1.2rem;
    background: #2e7531;
    transition: 0.3s background ease-in;
    border: 1px solid darken(#388e3c, 20%);
    font-family: "Abel", var(--system-ui);
    cursor: pointer;
    &:hover {
      color: yellow;
    }
    &[disabled] {
      background: #666;
      border: black;
      cursor: wait;
    }
  }
}
.image-row {
  p {
    display: flex;
    gap: 1em;
    img {
      height: auto;
      max-width: 100%;
      min-width: 0;
    }
  }
}
